<section class="trainee-details-container">
  <mat-card>

    <mat-list>
      <mat-list-item>
        Details
      </mat-list-item>
      <mat-list-item>
        ID:{{traineeDetails.id}}
      </mat-list-item>
      <mat-list-item>
        Name:{{traineeDetails.name}}
      </mat-list-item>
      <mat-list-item>
        Grade:{{traineeDetails.grade}}
      </mat-list-item>
      <mat-list-item>
        Email:{{traineeDetails.email}}
      </mat-list-item>
      <mat-list-item>
        Date Joined:{{traineeDetails.date}}
      </mat-list-item>
      <mat-list-item>
        Address:{{traineeDetails.address}}
      </mat-list-item>
      <mat-list-item>
        City:{{traineeDetails.city}}
      </mat-list-item>
      <mat-list-item>
        Country:{{traineeDetails.country}}
      </mat-list-item>
      <mat-list-item>
        Zip:{{traineeDetails.zip}}
      </mat-list-item>
      <mat-list-item>
        Subject:{{traineeDetails.subject}}
      </mat-list-item>
    </mat-list>


  </mat-card>
</section>

<!-- <mat-selection-list>
    <mat-list>
        <mat-list-option *ngFor="let item of traineeDetails">
          {{item}}
        </mat-list-option> -->