:host {
    position: relative;
    display: flex;
    flex-direction: column;
    mat-card.actions-card-container {
        position: relative;
        height: 5%;
        display: flex;
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}