
:host {
    position: relative;
    display: flex;
    flex-direction: column;
    mat-card.actions-card-container {
        position: relative;
        height: 5%;
        display: flex;
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
            .search-container {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .search-title {
                    padding: 0 .5rem;
                }
                button[type="button"] {
                    margin-left: .5rem;
                }
            }
        }
    }
}